<form ng-submit="addEmployee()" ng-controller="userController">

   <div class="form-group">
    <label>User Name</label>
    <input type="text" class="form-control" ng-model="employee.bh_user_name" required>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" ng-model="employee.bh_user_password" required>
  </div>
   <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" ng-model="employee.bh_user_cpassword" required>
  </div>
  <div class="form-group">
    <label>BH ID</label>
    <input type="text" class="form-control" ng-model="employee.bh_id" required>
  </div>
 <div class="form-group">
    <label>Phone Number</label>
    <input type="text" class="form-control" ng-model="employee.bh_mobileno" required>
  </div>
 <div class="form-group">
    <label>Email ID</label>
    <input type="email" class="form-control" ng-model="employee.bh_emailid" required>
  </div>
   <div class="form-group">
    <label>User Role</label>
    <select ng-model="employee.role" class="form-control">
        <option value="1">Admin</option>
        <option value="2">Customer Care Executive</option>
    </select>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
  <div> {{form_error}}</div>
</form>