<div ng-controller="userController" ng-init="forgotpasswordChange()">
 
    <form >
        <input type="hidden" ng-model="id" value="{{id}}">
                 <div class="form-group">
                   <label>Password</label>
                   <input type="text" class="form-control" ng-model="passcode" placeholder="Enter Password" required>
                 </div>
                  <div class="form-group">
                   <label>Confirm Password</label>
                   <input type="text" class="form-control" ng-model="passcodenew" placeholder="Re-Enter Password" required>
                 </div>
                 <div>
                     <p class="error">{{error_message}}</p>
                 </div>
                
        <button  class="btn btn-lg btn-primary" ng-click="setPassword()">
                    Submit 
                </button>
          </form>
   
    
</div>
