<div ng-controller="userController">

    <form ng-submit="addUserDetail()">
        <input type="hidden" ng-model="id" value="{{id}}">
                 <div class="form-group">
                   <label>Bharat ID</label>
                   <input type="text" class="form-control" ng-model="bh_id" placeholder="Enter Bharat ID">
                 </div>

                 <div class="form-group">
                   <label>Name</label>
                   <input type="text" class="form-control" ng-model="bh_name" placeholder="Enter Bharat ID">
                 </div>

                 <div class="form-group">
                   <label>User Name</label>
                   <input type="text" class="form-control" ng-model="bh_user_name" placeholder="Enter User Name">
                 </div>

                 <div class="form-group">
                   <label>Password</label>
                   <input type="password" class="form-control" ng-model="bh_password" placeholder="Enter Password">
                 </div>

                 <div class="form-group">
                   <label>Re enter Password</label>
                   <input type="password" class="form-control" ng-model="bh_reenter_pwd" placeholder="Re Enter Password">
                 </div>

                 <div class="form-group">
                   <label>Mobile No</label>
                   <input type="text" class="form-control" ng-model="bh_mobno" placeholder="Enter Mobile No">
                 </div>

                 <div class="form-group">
                   <label>Email ID</label>
                   <input type="email" class="form-control" ng-model="bh_email" placeholder="Enter Email ID">
                 </div>

                 <div class="form-group">
                   <label>User Type</label>
                   <select ng-model="bh_userrole" class="form-control">
                       <option value="1">Admin</option>
                       <option value="2">Customer Care</option>
                   </select>
                 </div>
                <p style="text-align: center;color:red;font-size: 15px">{{accountstatus}}</p>
                <input type="submit" class="btn btn-lg btn-primary">
          </form>
   
    
</div>
