<div class="row">
    <div class="col-lg-3">
        <span>Order ID</span> 
    </div>
    <div class="col-lg-3">
        <span>Order Date</span> 
    </div>
    <div class="col-lg-3">
        <span>Order Type</span> 
    </div>
    <div class="col-lg-3">
        <span>Order Status</span> 
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-6">
        <h3>Orders</h3>
    </div>
    <div class="col-lg-6">
        <h3>Customer Detail</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h3>Generate Invoice</h3>
    </div>
    <div class="col-lg-6">
        <h3>Send Push Notification</h3>
    </div>
</div>
